@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url('https://fonts.googleapis.com/css2?family=Matter:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;300;400;500;700&display=swap');

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FBD3AF transparent;
}

/* Chrome */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #FBD3AF;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
